#div_tabella
{
	margin-top: 15px;
	margin-left: 25%;
	width:60%;
	height:400px;
}

#scelta_tabella
{
	margin-top: 40px;
	margin-left: 25%;
}

#aggiungi
{
	margin-top: 50px;
	margin-left: 25%;
	background-color: #008000;
}

#form_post
{
	margin-top: 65px;
	margin-left: 25%;
}

#surname, #taxCode, #section, #idClass, #annulla
{
	margin-left: 5px;
}

