#div_tabella
{
	margin-top: 15px;
	margin-left: 25%;
	width:60%;
}

#scelta_tabella
{
	margin-top: 40px;
	margin-left: 25%;
}

#aggiungi
{
	margin-top: 50px;
	margin-left: 25%;
}

#form_post
{
	margin-top: 15px;
	margin-left: 25%;
}